header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  z-index: 10;
  top: 0;
}
.logo {
  display: flex;
  padding-left: 30px;
  align-items: center;
  flex-grow: 1;

}
.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}
.logo span {
  color: mediumaquamarine;
}
nav span {
  display: flex;
  color: black;
  display: inline-block;
  text-align: right;
  padding: 20px 10px;
  flex-shrink: 0;
}
header nav {
  padding-right:40px;
}
a {
  color: black;
}
a:hover {
  color: white;
  background-color: black;
}
.main {
  display: flex;
  padding-right: 32px;
  position: relative;
  top: 116px;
  z-index: 5;
}
.column.large {
  flex: 0 0 630px;
}
.column.medium {
  flex: 0 0 300px;

}
.column.small {

  flex: 0 0 240px;
  flex-direction: column;
}
.column {
  margin-right: 32px;
}
#phishtitle {
  background-image: url("../images/img-story-main.png");
  height: 300px;
  font-size: 40px;
  display: flex;
  align-items: center;

}
#phishtitle span {
  font-size: 40px;
  padding-left: 30px;

}
.column span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
  .column h2 {
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
}
.column p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.earth {
  display: flex;
  background-image: url("../images/img-story-2.png");
  height: 300px;
  width: 300px;
  text-align: center;
  align-items: center;
  margin-right: 25px;

}
.research {
  display: flex;
  background-image: url("../images/img-story-3.png");
  height: 300px;
  width: 300px;
  text-align: center;
  align-items: center;
}
.cats {
  display: flex;
  background-image: url("../images/img-story-1.png");
  height: 300px;
  text-align: center;
  align-items: center;
}
.stories {
  display: flex;
  margin-top: 17px;
  justify-content: space-between;
  flex-direction: column;
  height: 600px;
  width: 100%;
  flex-wrap: wrap;
}
.text {
  display: flex;
  flex-flow: wrap column;
  width: 300px;
  justify-content: center;

}
.bites h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 41px;
}
.bites span {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  display: block;
  border-bottom: 1px solid black;
  padding: 11px 20px;
  font-weight: normal;
}
footer {
  display: flex;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 325px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  top: 170px;
  z-index: 5;
}
footer .footlogo {
    display: inline-block;
    padding-right: 25px;
    border-right: 2px solid white;
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
footer nav {
  display: inline-block;
  padding-left: 25px;
}
footer p {
  text-align: center;
}
footer a:hover {
  color: black;
  background-color: white;
